body
  margin: 0
  padding: 0

.main
  display: flex
  align-items: stretch

  .main-left
    flex: 1
    background: #000
    min-height: 100vh
    align-self: stretch
    position: fixed
    width: 25%

  .main-left-hidden
    flex: 1

  .main-right
    flex: 3