<template name='bankruptcy'>
<section class='main'>
  <div class='main-left'>
    <ul id="nav">
      <li><a href="#when">When might someone seek protection under Bankruptcy?</a></li>
      <li><a href="#symptoms">Symptoms</a></li>
      <li><a href="#remedies">Remedies</a></li>
      <li><a href="#process">Bankruptcy Process - Steps after filing</a></li>
      <li><a href="#details">Chapter 7 - Details &amp; Requirements</a></li>
      <li><a href="#steps">Required Steps</a></li>
    </ul>
  </div>

  <div class='main-left-hidden'></div>

  <div class='main-right'>
    <div class="bankruptcy-main">
      <h2>Bankruptcy and Debt Relief</h2>

      <p>Bankruptcy protection can be used to stop home foreclosures, auto repossessions, debt collections, wage garnishments and/or to restructure debt.</p>
       
      <h3 id="when">When might someone seek protection under Bankruptcy?</h3>

      <p>It is common to need help from a bankruptcy attorney after divorce, loss of job, lengthy illness, to avoid or manage judgments from lawsuits or auto repossessions, wage garnishments, or excessive credit card debt.</p>

      <h3 id="symptoms">Symptoms:</h3>
      <ul>
        <li>You cannot pay all of your bills on time</li>
        <li>Your house is in foreclosure</li>
        <li>Your car is being repossessed (and/or you are hiding from the repo man)*</li>
        <li>Your wages are being garnished</li>
        <li>You are being harassed by creditor phone calls</li>
        <li>You are using payday loans to get from one payday to the next</li>
        <li>You owe the IRS and can not repay them (sometimes old IRS debt can be discharged)</li>
        <li>If you can add to this list, tell me and I will put your issues on here!</li>
      </ul>
      <p>*Note:  if your car has been repossessed let us know immediately and we may be able to recover the car and have it returned to you. Reasonable fees will be required.</p>

      <p>WE CAN USUALLY HELP YOU WITH ANY OR ALL OF THESE ISSUES. GIVE US A CALL OR SEND IN THE REQUEST FORM AND WE WILL SCHEDULE A FREE CONSULTATION!</p>

      <h3 id="remedies">Remedies:</h3>

      <p>Straight Bankruptcy, Chapter 7 is used when someone has credit card debt, bills, debt collections, wage garnishments and is not behind on their house or car, and has limited income (as determined by the "means" test).</p>

      <p>Wage Earner Bankruptcy, Chapter 13, is used when someone is behind on their house or their car, and may or may not have delinquent bills, judgments and other debts.  The bankruptcy "plan" is a plan on how the Debtor will pay back the money that he/she owes, and is behind on. A bankruptcy plan may last from 36 to 60 months. Automobiles are basically refinanced under a Chapter 13 Bankruptcy and lowers the interest rate paid to the lender, such that many times Debtors save thousands of dollars by entering into a Voluntary Bankruptcy.  Ask your bankruptcy attorney about this opportunity.</p>

      <p>Both Chapter 7 and Chapter 13 Bankruptcies are used to discharge (remove) debt and judgments and also will stop wage garnishments.</p>

      <p>Loan Modifications.... we can talk more about these as our economic climate changes bringing new opportunities and hope.</p>

      <p>Ask yourself:   Do you want to keep struggling?  Or do you want to seek help? We are professionals and we help people every day.</p>
      
      <p>We are a debt relief agency. We help people file for bankruptcy relief under the Bankruptcy Code.</p>
      <hr>
              <h3 id="process">Bankruptcy Process ~ Steps after filing</h3>

      <p>After we file your Bankruptcy, you will need to appear at the creditor meeting, called the 341 meeting, which will be approximately one month after filing.</p>

      <p>You must bring your Driver's License and Social Security Card with you.</p>

      <p>Be on time!</p>

      <p>The trustee will ask you the following questions:</p>
      <ol>
        <li>Did you list everything you own?</li>
        <li>Did you list everyone you owe?</li>
        <li>Did you review &amp; sign your paperwork?</li>
        <li>Is your information in the paperwork correct?</li>
        <li>Do you know of any mistakes?</li>
        <li>Did you finish a bankruptcy recently?</li>
        <li>Do you have the right to sue anyone?</li>
        <li>Do you owe child support?</li>
      </ol>

      <p>When you meet with your lawyer (before we file) we will review these questions to make sure that all of your information is listed correctly.  This helps you understand the process and makes it so court goes smoothly and efficiently.  If you have any questions after filing, make sure you discuss them with your lawyer before court.</p>

      <p>It is our goal to provide you with a good understanding of what you need to do to complete your bankruptcy and reap the benefits of this amazing federal law that helps people like you and me get a fresh start in life.</p>

      <p>Bankruptcy can reduce or eliminate debt, and helps manage stressful financial burdens by reorganizing or eliminating debts.  Talk to a lawyer about whether it is right for you.</p>
      <hr>
              <h3 id="details">Chapter 7 ~ Details &amp; Requirements</h3>

      <p>A chapter 7 "straight bankruptcy" typically takes approximately four (4) months from filing to discharge.</p>

      <h3 id="steps">Required Steps:</h3>
      <ol>
        <li>Your Case is filed.  It is a "Voluntary" Petition in Bankruptcy.</li>

        <li>Attend 341 meeting approximately one month after filing
          <ol>
            <li>Bring Driver's License and Social Security Card to the 341 Meeting</li>
            <li>Be on time.</li>
            <li>Where is the 341 Meeting?</li>
          </ol>
        Memphis, in Room 175, at 200 Jefferson Ave, Memphis, TN (enter on Jefferson).   Parking is available on Jefferson.

        Nashville, in Room 100, at 701 Broadway Ave, The Customs House, Nashville, TN (enter  behind building)
        Parking - Note- parking is expensive in the lot behind the Custom's House. Suggestions: Arrive early to find a meter.  There is a $7 a day parking lot closer to the  Country Music Awards building on Demonbeuen. Be aware of events that might make  parking more difficult (especially sporting events).  Towing is common in Nashville.   Please take precautions to avoid difficulty.
        </li>
        <li>Debtor Education - 2nd Financial Management Course Certificate
        Complete the post petition Debtor Education course within 60 days of filing. Send a copy of your completed certificate to your lawyer. Help make sure the Debtor Education certificate (LF023) gets filed promptly in your case with the Court.  (There are two certificates required: the first is before you file; the second is after you file.)  
        We recommend the second course with www.debtorwise.org.  Cost is $15 and takes two hours on line/on the computer to complete. For a telephone course we recommend  "access 24/7." 
        </li>
        <li>Pay Court Cost directly to Court Clerk
        Pay your filing fee directly to the Bankruptcy clerk's office.  The fee is $306 in exact change. Cash only. The Clerk is located in the same building as the 341 meeting.  Sometimes clients will mail a certified check or money order in the exact amount $306 to the clerk.  If you do mail your payment, be sure to include your name and case number on the payment.  Remember: no personal checks.
        </li>

        <li>Discharge Order - Keep it safe!
        Keep a copy of your discharge order after you case is completed. Send a copy of it to any creditor that tries to collect a pre petition debt.  Most debts you owed prior to filing bankruptcy are discharged by the bankruptcy proceeding, but some debts, including student loans and governmental obligations, are not dischargeable, or situations involving fraud or other circumstances may not be discharged or dischargeable.  If you have questions you should discuss them with your attorney.  Remember:  it is your responsibility to make sure that all of your debts are listed in the bankruptcy petition.</li>
      </ol>
      
      <p>Bankruptcy is a complicated set of laws.  Your lawyer can help you best if you are open and honest about all assets and debts.  We need to list everything you own and everyone you owe to protect you and to help you get all of the benefit that bankruptcy can provide to you!</p>

      <p>We are a debt relief agency and we are required by law to advise you of this!</p>
      <hr>
    </div>

  </div>
</section>
</template>