<template name='collection'>
<section class='main'>
  <div class='main-left'>
    <ul id="nav">
      <li><a href="#">Tax Collections Advice &amp; Services</a></li>
    </ul>
  </div>

  <div class='main-left-hidden'></div>

  <div class='main-right'>
    <h3>Tax Collections Advice &amp; Services</h3>
    <p>Attorney Gwenthian Hewitt began innovating with and redesigning governmental property tax collections systems in 1995.  Since then, the processes that she has implemented have been some of the most effective in the US, and the taxing authorities who received the benefit of her work have collected hundreds of millions of dollars, and they recoup delinquent tax dollars more efficiently by using her methods.  Attorney Hewitt is the only attorney in Tennessee who has worked on delinquent tax collections day in and day out for almost 14 years.</p>
     
    <p>The tax assessment, levy and bill are a basic tenet of the American tax system.  Beyond that, tax collecting is an art, and a practice.  If you are interested in retaining expertise, advise and/or an overhaul of your current tax collection services, including delinquent tax collections, I encourage you to contact us for specific examples of our work.  Contact Attorney Hewitt so that we can meet and discuss your goals and objectives.  Let us help you overcome collection obstacles.  Our fees are reasonable, and we can implement a small process, and build in steps, as needed.  Once you see the results you will likely want our ongoing involvement.</p>
     
    <p>Prior to attending law school at the University of Memphis, Attorney Hewitt worked for Fedex Corporation implementing major corporate projects.  Before that, she attended George Washington University for undergraduate and graduate school with policy making and economics as her areas of concentration.  After law school, Hewitt began to incorporate her project management skills, and her policy making education in to class action suits that combined customer service, and collection letters and programs, into a system that pushes collections in a way that works for everyone, including taxpayers, taxing authorities and the courts.</p>
     
    <p>A basic concept is that people want to pay their taxes ~ but there is often an issue, confusion or underlying problem that needs to be resolved to allow the taxpayer to get the taxes paid.  Understanding the issues, and helping to address them and encourage resolution earlier in the delinquency allows taxpayers to get their taxes paid before the taxes and charges are unrecoverable. <strong>Both the taxpayer and the taxing authority are benefited by earlier collections.</strong></p>
     
    <p>In these hard times it is more important than ever to collect the taxes before the properties fall to abandonment. Tax delinquent properties often require more public services due to their neglect. A tax delinquency is a symptom of other problems.  Discussion with the taxpayer needs to begin as soon as possible to resolve issues to avoid tax sale.  Alternatively, if a property is abandoned, quick sale and hand off to a new owner is preferable.  Attorney Hewitt can help you develop policies and programs to address all of the issues relating to property tax collections.</p>

    <p>Note: These notes are not intended as legal advice, but are the opinion of Attorney Hewitt.</p>
  </div>
</section>
</template>