<template name='disability'>
<section class='main'>
  <div class='main-left'>
    <ul id="nav">
      <li class="current"><a href="#disability">Social Security Disability</a></li>
      <li class=""><a href="#ssdi">What is the SSDI appeals process?</a></li>
      <li class=""><a href="#ssi">What is the SSI appeals process?</a></li>
    </ul>
  </div>

  <div class='main-left-hidden'></div>

  <div class='main-right'>
    <div class="disability-main">
      <h3 id="disability">Social Security Disability</h3>

      <p>Have you applied for a disability benefits program through the Social Security Administration and been denied? Whether you have been denied Social Security Disability Income (SSDI) benefits or Supplemental Security Income (SSI) benefits, the Law Offices of Gwenthian Hewitt can help.</p>

      <p>The process of applying for and getting approved for Social Security Disability Income (SSDI) or Supplemental Security Income (SSI) can be intensely frustrating and often difficult.  Learn your rights and options in obtaining SSDI or SSI. Schedule your free initial consultation with us today, and let's begin looking at solutions for what can seem like an overwhelming process.</p>

      <p>It is not at all uncommon for valid Social Security disability claims to be initially rejected by the Social Security Administration for lack of documentation or for other reasons. If you are facing this challenge, you need to act quickly to protect your right to appeal the decision.</p>

      <h3 id="ssdi">What is the SSDI appeals process?</h3>
      <p>The Social Security Disability appeals process can be lengthy. We can educate you about the strength of your claim and prepare you for each step of the process. Let us assist you with the following:</p>
      <ul>
        <li>Advice on how to file the initial SSDI benefits application</li>
        <li>Advice on how to appeal the initial denial</li>
        <li>Obtaining medical opinions and testimony</li>
        <li>Hearing before ALJ (Administrative Law Judge)</li>
        <li>Appeals Council</li>
        <li>Federal Court</li>
      </ul>

      <h3 id="ssi">What is the SSI appeals process?</h3>
      <p>Supplemental Security Income is available to disabled adults and children. Unlike SSDI, you do not need to have paid into the Social Security system with your paychecks. Again, the majority of applicants are initially denied. We can help you with the following steps of the process:</p>
      <ul>
        <li>Advice on how to file the Initial SSI application</li>
        <li>Advice on how to appeal the initial denial</li>
        <li>Obtaining medical opinions and testimony</li>
        <li>Hearing before ALJ</li>
        <li>Appeals Council</li>
        <li>Federal Court</li>
      </ul>
      <p>Contact us today to schedule a free initial consultation and case review.</p>
    </div>

  </div>
</section>
</template>